<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>쿠키보기</title>
</head>
<body>
    <h2>쿠키목록</h2>
    <ul>
        <li th:each="cookie : ${cookieList}" >
            <span th:text="${cookie}"></span>
            <a th:href="@{/cookieDelete">
                [삭제]
            </a>
        </li>
    </ul>

    <p th:if="${cookieList == null or #arrays.length(cookieList) == 0}">
        저장된 쿠키가 없습니다.
    </p>
</li>
</body>
</html>