<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시글 수정</title>
    <link rel="stylesheet" th:href="@{/friend.css}">
</head>
<body>
<h1>게시글 수정하기</h1>

<form th:action="@{/articles/{id}/editProc(id=${article.id})}" method="post">
    <div>
        <label for="title">제목 : </label>
        <input type="text" id="title" name="title" th:value="${article.title}" required>
    </div>
    <br>
    <div>
        <label for="writer">작성자 : </label>
        <input type="text" id="writer" name="writer" th:value="${article.writer}" required>
    </div>
    <br>
    <div>
        <label for="content">내용 : </label>
        <textarea id="content" name="content" rows="5" th:text="${article.content}" required></textarea>
    </div>
    <br>
    <button type="submit">수정완료</button>
    <a th:href="@{/articles/{id}(id=${article.id})}">취소</a>
</form>
</body>
</html>